<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting">
    <title>Registration Successful</title>
</head>
<body>

    <div style="max-width: 500px; margin: 30px auto; border: 5px solid #c29671; border-radius: 8px;">
        <div style="padding: 10px; background-color: #000;">
            <a style="max-width: 200px; display: block;" href="">
                <img style="width: 100%;"
                    src="https://res.cloudinary.com/dzfuuqo6g/image/upload/v1733392767/MainFrok_q4rvis.png">
            </a>
        </div>

        <div style="padding: 25px; background-color: #fff;">
            <h4 style="font-size: 20px; line-height: 150%; color: #000; margin: 0 0 10px; text-align: center;">
                Registration Successful!
            </h4>
            <h3 style="font-size: 16px; line-height: 150%; color: #000; margin: 0 0 20px;">
                Hello <span style="font-weight: 400;">Hello <%= name %></span>,
            </h3>
            <p style="margin: 0 0 20px;">Congratulations! Your account has been successfully created.</p>
            <p style="margin: 0 0 20px;">Here are your account details:</p>
            <p style="margin: 0 0 20px;"><strong>Email:</strong>
                <%=email %>
            </p>
            <p style="margin: 0 0 20px;">You can now log in and access all of our services.</p>
            <div style="text-align: center; margin: 20px 0;">
                <a href="" style="text-decoration: none; display: block; width: max-content; margin: auto; font-size: 14px; font-weight: 600; padding: 12px 25px; border: none; background: #c29671; color: #fff; border-radius: 5px; cursor: pointer;">
                    Login your account
                </a>
            </div>
            <p style="margin: 0 0 20px;">If you did not create this account, please contact support immediately.</p>
        </div>
    </div>
</body>
</html>
