<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reply to Inquiry</title>


</head>

<body style="height: 100vh; width: fit-content;">
    <div style="max-width: 500px; margin: 30px auto; border: 5px solid #c29671; border-radius: 8px;">
        <div style="padding: 10px; background-color: #000;">
            <a style="max-width: 200px; display: block;" href="">
                <img style="width: 100%;"
                    src="https://res.cloudinary.com/dzfuuqo6g/image/upload/v1733392767/MainFrok_q4rvis.png">
            </a>
        </div>
        <div style="padding: 25px;">
            <!-- <h3 style="font-size: 26px; margin: 0 0 30px; text-align: center;">Welcome to Parth</h3> -->
            <h4 style="font-size: 14px; line-height: 150%; color: #000; margin: 0 0 10px;">
                Dear <%= name %>,
            </h4>
            <p style="font-weight: 500; font-size: 14px; line-height: 150%; margin: 0; color: #717070; margin-bottom: 15px;">
                Thanks for Inquiry
            </p>
            <p style="font-weight: 500; font-size: 14px; line-height: 150%; margin: 0; color: #717070; margin-bottom: 15px;">
                <%= messageContent %>
            </p>
            
        </div>
    </div>
</body>

</html>