<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>

<body style="margin: 0; background-color: #eee;">
    <div style="max-width: 500px; margin: 30px auto; border: 5px solid #c29671; border-radius: 8px;">
                <div style="padding: 10px; background-color: #000;">
            <a style="max-width: 200px; display: block;" href="">
                <img style="width: 100%;"
                    src="https://res.cloudinary.com/dzfuuqo6g/image/upload/v1733392767/MainFrok_q4rvis.png">
            </a>
        </div>
        <table
            style="box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.05); background-color: #fff; width: 100%; margin: 0 auto; border-collapse: collapse;">
            <tbody>
                <tr>
                    <td>
                        <div style="padding: 25px;">
                            <h3 style="font-size: 26px; margin: 0 0 30px; text-align: center;">Welcome to Golden Fork</h3>
                            <h4 style="font-size: 14px; line-height: 150%; color: #000; margin: 0 0 10px;">
                                Hello,  <%= name %>
                            </h4>
                            <p style="font-weight: 500; font-size: 14px; line-height: 150%; margin: 0; color: #717070;">
                                Thanks for joining, Your account has been successfully created. Below are your login credentials:
                            </p>
                        </br>
                            <p style="font-weight: 500; font-size: 14px; line-height: 150%; margin: 0; color: #717070;">Please make sure to change your password after logging in for security purposes.</p>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 25px 25px 50px;">
                        <table
                            style="margin: 0 auto; text-align: left; border: 1px dashed #ddd; border-collapse: collapse; width: 100%;">
                            <tr style="border-bottom: 1px dashed #ddd;">
                                <th
                                    style="padding: 8px 15px; font-size: 12px; line-height: 14px; color: #000; word-break: break-all;">
                                     Email:
                                </th>
                                <td
                                    style="padding: 8px 15px; font-size: 12px; line-height: 14px; color: #000; word-break: break-all;">
                                    <%= email %>
                                </td>
                            </tr>
                            <tr style="border-bottom: 1px dashed #ddd;">
                                <th
                                    style="padding: 8px 15px; font-size: 12px; line-height: 14px; color: #000; word-break: break-all;">
                                    User Password:
                                </th>
                                <td
                                    style="padding: 8px 15px; font-size: 12px; line-height: 14px; color: #000; word-break: break-all;">
                                    <%= password %>
                                </td>
                            </tr>
                        </table>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <div style="text-align: center; margin: 20px 0;">
                            <a href="" style="text-decoration: none; display: block; width: max-content; margin: auto; font-size: 14px; font-weight: 600; padding: 12px 25px; border: none; background: #c29671; color: #fff; border-radius: 5px; cursor: pointer;">
                                Login your account
                            </a>
                        </div>
                        <p
                            style="text-align: center; font-weight: 600; font-size: 12px; line-height: 150%; margin: 0 25px; color: #717070; padding: 10px 0; border-top: 1px solid #c7dbdd;">
                            Copyright © 2024 Golden Fork</p>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</body>

</html>